/***
    Author : Md. Ibne Kayesh
    License: MIT
    Version : 1.0.0
    Date: Oct - 2024
    Inspired from Bootstrap, Tailwind CSS and jQuery
 ***/

/**** dismissable popup notification styles ****/

#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: auto;
    z-index: 1000;
}

.notification {
    display: none;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    color: #000;
    transition: all .3s ease-in-out;
    box-shadow: 0 3px 10px #0003;
    background-color: #f0d8e8;
    border: 2.5px dotted transparent
}

    .notification.success {
        border-color: #4CAF50; /* Green */
    }

    .notification.error {
        border-color: #F44336; /* Red */
    }

    .notification.info {
        border-color: #2196F3; /* Blue */
    }

    .notification.warn {
        border-color: #FF9800; /* Orange */
    }

    .notification.success .icon-button {
        background-color: #4CAF50; /* Green button for success */
    }

    .notification.error .icon-button {
        background-color: #F44336; /* Red button for error */
    }

    .notification.info .icon-button {
        background-color: #2196F3; /* Blue button for info */
    }

    .notification.warn .icon-button {
        background-color: #FF9800; /* Orange button for warning */
    }

    .notification .icon-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 45%;
        color: #fff;
        margin-right: 10px
    }

/**** confirm popup notification with confirmation styles ****/
/* .confirm-dialog {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        } */

.confirm-dialog p {
    margin: 0 0 15px;
}

.confirm-dialog {
    display: none;
    background-color: #71435F;
    color: #fff;
    border: 1.5px solid #F44336;
    border-radius: 3px;
    padding: 25px;
    box-shadow: 0 4px 8px #0003;
    z-index: 9999;
    background-image: linear-gradient( 89.4deg, rgba(100,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
}